* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1172px;
  margin: 0 auto;
}

.title {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.title_color-white {
  color: #fff;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
  margin: 0;
}

p + p {
  margin-top: 9px;
}

.header {
  background-color: #445161;
  padding: 20px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  font-size: 60px;
  margin-bottom: 40px;
}

.header__list {
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.header__list-item {
  color: #fff;
}

.header__list-item:not(:last-of-type) {
  margin-bottom: 10px;
}

.header__list-item::before {
  content: url(images/header-marker.svg);
  margin-right: 5px;
}

.header__image {
  width: 470px;
  height: 217px;
}

.about {
  padding: 45px 0;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text-wrapper {
  width: 650px;
}

.about__title {
  margin-bottom: 18px;
}

.about__image {
  width: 430px;
  height: 245px;
}

.dignity {
  background-color: #f5f5f5;
  padding: 30px 0 55px;
}

.dignity__title {
  text-align: center;
  margin-bottom: 25px;
}

.dignity__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dignity__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
}

.dignity__item:nth-last-of-type(n+3) {
  margin-bottom: 35px;
}

.dignity__item::before {
  content: url(images/dignity-marker.svg);
  margin-right: 8px;
  margin-top: 6px;
}

.screenshots {
  padding: 25px 0 50px;
}

.screenshots__title {
  text-align: center;
  margin-bottom: 45px;
}

.screenshots__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.screenshots__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 575px;
}

.screenshots__list:nth-last-of-type(n+3) {
  margin-bottom: 25px;
}

.screenshots__image {
  width: 200px;
  height: 150px;
}

.screenshots__list-item {
  width: 390px;
  margin-left: 14px;
}

.screenshots__list-title {
  margin-bottom: 13px;
  font-size: 24px;
}

.reviews {
  background-color: #f5f5f5;
  padding: 25px 0 40px;
}

.reviews__title {
  text-align: center;
  margin-bottom: 30px;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__list {
  margin: 0;
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__list:nth-last-of-type(n+3) {
  margin-bottom: 20px;
}

.reviews__list-comment {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 15px 5px 5px 15px;
  margin-left: 15px;
  width: 490px;
  position: relative;
}

.reviews__list-comment::before {
  content: url(images/pointer.svg);
  position: absolute;
  top: 40px;
  left: -14px;
}

.reviews__list-text {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.reviews__list-name {
  font-size: 14px;
  line-height: 18px;
  color: #989898;
}

.reviews__logo {
  width: 66px;
  height: 66px;
}

.buy {
  padding: 45px 0 50px;
}

.buy__title {
  text-align: center;
  margin-bottom: 25px;
}

.buy__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.buy__card {
  background-color: #445161;
  width: 300px;
  border-radius: 5px;
  padding: 14px 0 20px;
}

.buy__card:not(:last-of-type) {
  margin-right: 45px;
}

.buy__card-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 7px;
}

.buy__card-price {
  background-color: #ffffff;
  height: 72px;
  font-size: 40px;
  line-height: 30px;
  color: #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #445162;
}

.buy__list {
  margin: 10px 20px 15px;
  padding-left: 0;
  list-style-position: inside;
}

.buy__list-item {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.buy__button {
  font-size: 18px;
  line-height: 18px;
  color: #445161;
  font-weight: 700;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 262px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 11px;
}

.footer {
  background-color: #445162;
}

.footer__top {
  padding: 25px 0 50px;
}

.footer__title {
  text-align: center;
  margin-bottom: 45px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  margin-right: 45px;
}

.footer__form-input {
  height: 45px;
  padding: 10px;
  color: #445162;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}

.footer__form-input_resize {
  resize: none;
  height: 175px;
}

.footer__form-button {
  background-color: #ffffff;
  font-weight: 700;
  color: #445162;
  text-transform: uppercase;
  width: 145px;
  height: 40px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.footer__contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
}

.footer__contacts-text {
  text-decoration: none;
  color: #ffffff;
}

.footer__contacts-text:not(:last-of-type) {
  margin-bottom: 20px;
}

.footer__contacts-marker {
  margin-right: 10px;
}

.footer__contacts-logo:not(:last-of-type) {
  margin-right: 5px;
}

.footer__bottom {
  background-color: #f5f5f5;
  padding: 13px 0;
  text-align: center;
}

.footer__copyright {
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #445162;
}
/*# sourceMappingURL=style.css.map */